/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwindcss  */
@import "tailwindcss";

/* daisy ui  */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* default css  */
* {
  font-family: "Noto Sans", sans-serif;
}
